<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/display" method="post">
    <table>
                <tr><td>Product : </td><td><input type="text" name="pname"/></td></tr>
                <tr><td>Price : </td><td><input type="text" name="price"/></td></tr>
                <tr><td>Quantity : </td><td><input type="text" name="qty"/></td></tr>
                <tr><td></td><td><input type="submit" value="submit"/></td></tr>
    
    </table>
    </form>
    
    
</body>
</html>